body {
    background: #563c55 url(../../Imagenes/fondos/fondo.jpeg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.paneles .ui-widget-content {
border: #191919;
background: rgba(250,250,250,0.5);
color: #222222;
}

